@charset "utf-8";
#wrapper {
	background-color: #0099FF;
	margin: auto;
	height: auto;
	width: 1000px;
}
#Banner {
	float: left;
	height: 200px;
	width: 800px;
	background-color: #0066CC;
}
#Search {
	float: left;
	height: 150px;
	width: 200px;
	background-color: #0066CC;
}
#NavBar {
	float: left;
	height: auto;
	width: 1000px;
	background-color: #0099CC;
}
#mainmenu {
	float: left;
	height: auto;
	width: 300px;
	background-color: #00CCFF;
}
#Content {
	float: left;
	height: auto;
	width: 680px;
	background-color: #0099CC;
	padding: 10px;
	color: #FFF;
}
img {
	padding: 10px;
}

#Footer {
	float: left;
	height: 50px;
	width: 1000px;
    padding: 0px;
    background-image: url(../clint.gif);
	background-repeat: no-repeat;
}
#Counter {
	float: left;
	height: 50px;
	width: 200px;
	background-color: #00CCCC;
}
